html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #0a0a0a;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
